/* 主页index.html的样式表 */

/* 顶部导航条的容器 */
.topbar-wrapper{
    /* 设置宽度全屏 */
    width: 100%;
    /* 设置高度和行高 */
    height: 40px;
    line-height: 40px;
    /* 设置背景颜色 */
    background-color: rgb(118, 184, 125);
}
/* 设置超链接的颜色 */
.topbar a{
    font-size: 12px;
    color: #080505;
    display: block;
}

/* 设置超链接移入的效果 */
.topbar a:hover{
    color: #fff;
}

/* 设置中间分割线 */
.topbar .line{
    font-size: 12px;
    color: #424242;
    margin: 0 8px;
}

/* 设置左侧导航栏 */
.service1, .topbar li{
    float: left;
}


/* 设置右侧导航栏 */
.user-info{
    float: right;
}


.botton-wrapper{
    /* 设置宽度全屏 */
    width: 100%;
    /* 设置高度和行高 */
    height: 40px;
    line-height: 40px;
    /* 设置背景颜色 */
    background-color: rgb(58, 136, 214);
}

.service2, .botbar li{
    float: left;
}

